//import settings
@import "./settings/fonts";
@import "./settings/variables";
@import "./settings/theme_colors";
@import "./settings/mixins";

//import elements
@import "./elements/header";
@import "./elements/main";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-main;
  font-size: 14px;
}

//   --top-bg-color: #{$color-very-pale};
//   --bg-color: #{$color-light};
//   --card-bg-color: #{$color-grayish-light};
//   --small-txt-color: #{$color-grayish-dark};
//   --big-txt-color: #{$color-very-dark};
//   --toggle: #{$color-toggle-light};

//   --top-bg-color: #{$color-dark};
//   --bg-color: #{$color-very-dark};
//   --card-bg-color: #{$color-desaturated-dark};
//   --small-txt-color: #{$color-desaturated};
//   --big-txt-color: #{$color-light};
//   --toggle: #{$color-toggle-dark};

body {
  background-color: var(--bg-color);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;

  &::before {
    content: "";
    position: absolute;
    top: 0%;
    bottom: 70%;
    left: 0;
    right: 0;
    background-color: var(--top-bg-color);
    border-radius: 0 0 2rem 2rem;
    z-index: -1;
  }
}
