//import settings
@import "./settings/fonts";
@import "./settings/variables";
@import "./settings/theme_colors";
@import "./settings/mixins";

//import elements
@import "./elements/header";
@import "./elements/main";
@import "./elements/footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-main;
  font-size: 14px;
}

body {
  background-color: var(--bg-color);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;

  &::before {
    content: "";
    position: absolute;
    top: 0%;
    bottom: 70%;
    left: 0;
    right: 0;
    background-color: var(--top-bg-color);
    border-radius: 0 0 2rem 2rem;
    z-index: -1;
  }
}
