html {
  --top-bg-color: #{$color-very-pale};
  --bg-color: #{$color-light};
  --card-bg-color: #{$color-grayish-light};
  --small-txt-color: #{$color-grayish-dark};
  --big-txt-color: #{$color-very-dark};
  --toggle: #{$color-toggle-light};
  --card-bg-color-hover: #{$color-grayish-light-darken};
}

html[data-theme="dark"] {
  --top-bg-color: #{$color-dark};
  --bg-color: #{$color-very-dark};
  --card-bg-color: #{$color-desaturated-dark};
  --small-txt-color: #{$color-desaturated};
  --big-txt-color: #{$color-light};
  --toggle: #{$color-toggle-dark};
  --card-bg-color-hover: #{$color-desaturated-dark-lighten};
}
