//COLORS

//Primary colors
$color-primary-up: hsl(163, 72%, 41%); //lime green
$color-primary-down: hsl(356, 69%, 56%); //bright red

$color-facebook: hsl(208, 92%, 53%);
$color-twitter: hsl(203, 89%, 53%);
$gradient-instagram: linear-gradient(hsl(37, 97%, 70%), hsl(329, 70%, 58%));
$color-youtube: hsl(348, 97%, 39%);

//Dark theme colors
$color-toggle-dark: linear-gradient(
  45deg,
  hsl(210, 78%, 56%),
  hsl(146, 68%, 55%)
);

$color-dark: hsl(232, 19%, 15%); //top bg
$color-very-dark: hsl(230, 17%, 14%); //bg
$color-desaturated: hsl(228, 34%, 66%); //txt
$color-desaturated-dark: hsl(228, 28%, 20%); //card bg
$color-light: hsl(0, 0%, 100%); //txt

//Light theme colors
$color-toggle-light: hsl(230, 22%, 74%);
$color-light: hsl(0, 0%, 100%); //bg
$color-very-pale: hsl(225, 100%, 98%); //top bg
$color-grayish-light: hsl(227, 47%, 96%); //card bg
$color-grayish-dark: hsl(228, 12%, 44%); //txt
$color-very-dark: hsl(230, 17%, 14%); //txt

//FONTS
$font-main: "Inter", sans-serif;
