.main {
  .social {
    padding-bottom: 2rem;
    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      &__heading {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 1.4rem;
      }
      &__icon {
        padding: 0 0.5rem;
      }
      &__name {
        font-size: 0.8rem;
        color: var(--small-txt-color);
      }
      &__value {
        font-size: 4rem;
        font-weight: 700;
        color: var(--big-txt-color);
        letter-spacing: -0.15rem;
      }
      &__fans {
        font-size: 0.8rem;
        text-transform: uppercase;
        letter-spacing: 0.4rem;
        color: var(--small-txt-color);
        padding-bottom: 1.8rem;
      }
      &__day {
        font-size: 0.8rem;
      }
      &--facebook {
        border-top: 0.3rem solid $color-facebook;
      }
      &--twitter {
        border-top: 0.3rem solid $color-twitter;
      }
      &--instagram {
        position: relative;
        &::before {
          content: "";
          background: $gradient-instagram;
          top: 0;
          height: 0.3rem;
          width: 100%;
          position: absolute;
          border-radius: 0.3rem 0.3rem 0 0;
        }
      }
      &--youtube {
        border-top: 0.3rem solid $color-youtube;
      }
    }
  }

  .overview {
    &__title {
      font-size: 1.7rem;
      color: var(--big-txt-color);
      padding-bottom: 2rem;
    }
    .card-sm {
      &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5rem;
      }
      &__name {
        font-size: 1rem;
        color: var(--small-txt-color);
      }
      &__stats {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }
      &__value {
        font-size: 2.5rem;
        font-weight: 700;
        color: var(--big-txt-color);
        line-height: 0.9;
      }
      &__day {
        font-size: 0.8rem;
      }
    }
  }
}

.card,
.card-sm {
  background-color: var(--card-bg-color);
  border-radius: 0.3rem;
  margin-bottom: 1.5rem;
  padding: 2rem;
  &:hover {
    background-color: var(--card-bg-color-hover);
    cursor: pointer;
  }
}

.value-up {
  color: $color-primary-up;
  position: relative;
  &::before {
    content: url("../../images/icon-up.svg");
    position: absolute;
    left: -0.8rem;
    bottom: 0.15rem;
  }
}

.value-down {
  color: $color-primary-down;
  position: relative;
  &::before {
    content: url("../../images/icon-down.svg");
    position: absolute;
    left: -0.8rem;
    bottom: 0.15rem;
  }
}
