// .main {
//   .social {
//     .card {
//     }
//   }
//   .overview {
//   }
// }

.card {
  background-color: var(--card-bg-color);
  border-radius: 1rem;
  margin-bottom: 2rem;
  padding: 1rem;
}
